#home_top {
	background		: #FAE4B6;
	display			: inline-block;
}
#home_top h2.large_heading {
	text-align		: center;
	font-size		: 220%;
	margin			: 60px 0;
	border-bottom	: 5px solid #950426;
    display			: inline-block;
    padding			: 0 12px;
}
#home_top .feat_box {
	width			: 27%;
	margin			: 0 0% 60px 5%;
	float			: left;
}
#home_top .img_feat img{
	margin			: 0 auto;
	display			: block;
	width			: 175px;
	height			: 250px;
}
#home_top .text_feat {
	margin-top		: 30px;
	text-align		: justify;
}
#home_top .price_feat{
	font-weight		: 600;
	width			: 50%;
	font-size		: 120%;
	float			: left;
	padding			: 12px 0;
}
#home_top .add_cart {
	float			: right;
}
#home_top .add_cart input {
	background-color: #047174;
	padding			: 10px 15px;
	border-radius	: 5px;
	color			: #eee;
	font-weight		: 600;
	font-size		: 90%;
	border			: none;
	background-image: url("../images/box_shadow_button.png");
	background-repeat: repeat-x;
}
#home_middle .wrapper, #home_top .wrapper{
	display			: block;
	text-align		: center;
}
#home_middle h2.large_heading{
	font-size		: 250%;
    margin			: 70px 0 90px;
    border-bottom	: 5px solid #950426;
    display			: inline-block;
    padding			: 0 12px;
}
#home_middle .product_box{
	width			: 20%;
	margin			: 0 2% 60px;
	float			: left;
}
#home_middle .img_product img{
	margin			: 0 auto;
	display			: block;
	width			: 250px;
	height			: 350px;
}
#home_middle .product_link a{
	font-weight		: 600;
	font-size		: 90%;
	margin			: 35px 0 0 5%;
	float			: left;
}
#home_middle .add_cart input {
	font-size		: 75%;
	margin			: 25px 5% 0 0;
	float			: right;
	background-color: #047174;
	padding			: 10px 15px;
	border-radius	: 5px;
	color			: #eee;
	font-weight		: 600;;
	border			: none;
	background-image: url("../images/box_shadow_button.png");
	background-repeat: repeat-x;
}