.content{
	background		: #FAE4B6;
	padding			: 40px 3% 50px;
}
h3.medium_heading{
	font-size		: 160%;
}
form .login_label, form input{	
	display			: block;
}
form .login_label{
	margin-bottom	: 7px;
}
form input{
	margin-bottom	: 15px;
}
form input#button{
	background		: #060246;
	padding			: 12px 15px;
	border-radius	: 15px;
	color			: #eee;
	font-size		: 100%;
}
#logged_in{
	background		: #047174;
	padding			: 10px;
}
#logged_in h3{
	text-align		: center;
	color			: #ddd;
	font-weight		: 500;
	font-size		: 130%;
}
h3#login_err_msg{
	color			: red;
	font-size		: 120%;
}