/*Red: 950426*/
body{ 
	background		: #fafafa;
	margin			: 0;
	font-family		: "Raleway";
	font-size		: 16px;
}
p{
	line-height		: 1.5;
	font-size		: 100%;
}
a:visited, a:link {color: #060246;}


h1#banner
{	
	font-size		: 350%;
	text-align		: center;
}
.bg{
	background		: #c6b6b0 ;
}
.left{
	float			: left;	
}
#menu
{
	font-size		: 150%;
}
#menu ul{
	display			: inline-block;
	margin			: 20px 25% 50px;
	padding-left	: 0;
	width			: 50%;
}
#menu li{
	float			: left;
	padding			: 1% 4%;
	list-style-type		: none;
}
footer{	
	margin			: 40px 0 0;
	padding			: 5px 2px;
	color			: #ddd;
	background		: #950426;
	position		: relative;
	bottom			: 0;
}


.clear
{
	clear			: both;
	display			: block;
	height			: 0;
	overflow		: hidden;
	visibility		: hidden;
	width			: 0;
}

